[user]
	name = giovanism
	email = giovanmail@gmail.com
	signingkey = ED33879991D37D938A93909FA492145350694554

[core]
	editor = nvim
	pager = less -iXFR
[commit]
	gpgsign = true
[color "diff"]
	whitespace = red reverse
[credential]
	helper = manager-core
	cacheOptions = --timeout 300
	gitHubAuthModes = oauth
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
